@model WindowsFolders123.Core.Models.Files
<div>

	@using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data", id = "formFileAdd" }))
	{
	@Html.HiddenFor(model => model.FolderId)


	<div class="row">
		<div class="col-lg-12">
			<label class="control-label">Codigo</label>
			<div class="input-group">
				@Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly="readonly" })
			</div>
			@Html.ValidationMessageFor(x => x.Id, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<label class="control-label">Descripción</label>
			<div class="input-group" style="width:100%">
				@Html.TextAreaFor(x => x.FileName, new { @class = "form-control", })
			</div>
			@Html.ValidationMessageFor(x => x.FileName, "", new { @class = "text-danger" })
		</div>
	</div>
	}
</div>